{% load static %}

<script src="{% static 'SpeechTherapy/js/newRecording.js' %}"></script>
<script src="{% static 'SpeechTherapy/js/recordings.js' %}"></script>

<div id="speech-therapy-app">
	<div id='banner'>
		<strong>Automated Speech Therapy</strong>
		<ul id="tab-headers">
			<li @click="activateTab('newRecording')" :class="headerClass('newRecording')">New Recording</li>
			<li @click="activateTab('resultsHistory')" :class="headerClass('resultsHistory')">Results History</li>
			<li @click="activateTab('profile')" :class="headerClass('profile')">Profile</li>
		</ul>
	</div>
	<div id="tab-content">
		<new-recording
			v-show="activeTab == 'newRecording'"
			@get-new-text-samples='getNewTextSamples'
			@new-recording='newRecording'
			:getting-text-samples='gettingTextSamples'
			:processing='processingNewRecording'
			:text-samples='textSamples'></new-recording>
		<recordings
			v-show="activeTab == 'resultsHistory'"
			:recordings="recordings"></recordings>
		<profile-form
			@update-attr='updateUser'
			@right-extra-clicked='signOut'
			v-show="activeTab == 'profile'"
			:user="user"
			:processing='signingOut'
			:method='"POST"'
			:right-extra='"Sign Out"'></profile-form>
	</div>
	<form id='sign-out-form' action='/SpeechTherapy/signOut' method='post'></form>
</div>

<script>
new Vue({
	el: '#speech-therapy-app',
	data: JSON.parse('{{ data | escapejs }}'),
	methods: {
		headerClass: function(tab) {
			return {
				active: tab == this.activeTab
			};
		},
		activateTab: function(tab) {
			this.activeTab = tab;
		},
		signOut: function() {
			document.getElementById('sign-out-form').submit();
		},
		getNewTextSamples: function() {
			this.sendRequest('{% url "getTextSamples" %}', 'gettingTextSamples', JSON.stringify({
				audio: 'Some noise'
			}), (response) => {
				this.textSamples = response.textSamples;
			}, (response, status) => {
				// TODO: Display new recording error
			});
		},
		newRecording: function(data) {
			// TODO: send actual recording
			this.sendRequest('{% url "newRecording" %}', 'processingNewRecording', JSON.stringify(data), (response) => {
				this.recordings.push(response.recording);
			}, (response, status) => {
				// TODO: Display new recording error
				window.open().document.write(response);
			});
		},
		updateUser: function(attr) {
			this.sendRequest('{% url "updateUser" %}', null, JSON.stringify({
				attr: attr,
				value: this.user[attr]
			}), null, (response, status) => {
				// TODO: Display update error
			});
		},
		sendRequest: function(url, processFlag, data, onSuccess, onError, onComplete) {
			if (this[processFlag]) {
				// TODO: Display duplicate attempt error
				return;
			}
			let request = new XMLHttpRequest();
			request.open('POST', url);
			request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
			request.onreadystatechange = () => {
				if (request.readyState == 4) {
					if (request.status == 200) {
						if (onSuccess) onSuccess(JSON.parse(request.responseText));
					}
					else if (onError) onError(request.responseText, request.status);
					if (processFlag) this[processFlag] = false;
				}
			};
			if (processFlag) this[processFlag] = true;
			request.send(data);
		}
	}
});
</script>