{% load static %}

<script src='{% static "SpeechTherapy/js/newRecording.js" %}'></script>
<script src='{% static "SpeechTherapy/js/recording.js" %}'></script>
<script src='{% static "SpeechTherapy/js/recordings.js" %}'></script>

<title>Automated Speech Therapy</title>

<div id='speech-therapy-app'>
	<div id='banner'>
		<strong>Automated Speech Therapy</strong>
		<ul id='tab-headers'>
			<li @click='activateTab("newRecording")' :class='headerClass("newRecording")'>New Recording</li>
			<li @click='activateResultsHistoryTab' :class='resultsHistoryClass'>Results History (<span v-html='recordingCount'></span>)</li>
			<li @click='activateTab("profile")' :class='headerClass("profile")'>Profile</li>
		</ul>
	</div>
	<div id='tab-content'>
		<new-recording
			v-show='activeTab == "newRecording"'
			@get-new-text-samples='getNewTextSamples'
			@new-recording='newRecording'
			:getting-text-samples='gettingTextSamples'
			:processing-new-recording='processingNewRecording'
			:text-samples='textSamples'></new-recording>
		<recordings
			v-show='activeTab == "resultsHistory"'
			@get-recordings='getRecordings'
			:recordings='recordings'
			:recording-count='recordingCount'
			:getting-recordings='gettingRecordings'
			:shown='activeTab == "resultsHistory"'
			:recorded-since-get-recordings='recordedSinceGetRecordings'></recordings>
		<profile-form
			@update-attr='updateUser'
			@right-extra-clicked='signOut'
			v-show='activeTab == "profile"'
			:user='user'
			:processing='signingOut'
			:method='"POST"'
			:right-extra='"Sign Out"'></profile-form>
	</div>
	<form ref='signOutForm' action='/SpeechTherapy/signOut' method='post' class='hide'></form>
</div>

<script>
new Vue({
	el: '#speech-therapy-app',
	data: JSON.parse('{{ data | escapejs }}'),
	created: function() {
		// TODO: Testing google Speech-to-Text API. To be removed once finished testing.
		// this.sendRequest('https://speech.googleapis.com/v1/speech:recognize', null, [{
		// 	key: 'config',
		// 	value: {
		// 		encoding: 'OGG_OPUS',
		// 		sampleRateHertz: 8000,
		// 		languageCode: 'en-US'
		// 	}
		// }, {
		// 	key: 'audio',
		// 	value: new Blob([], { type: 'audio/ogg; codecs=opus' })
		// }], (res) => {
		// 	console.log(res);
		// }, (res) => {
		// 	console.log(res);
		// });
	},
	computed: {
		signOutForm: function() { return this.$refs['signOutForm']; },
		hasRecordings: function() { return this.recordingCount > 0; },
		resultsHistoryClass: function() {
			let resultsHistoryClass = this.headerClass("resultsHistory");
			resultsHistoryClass.disabled = !this.hasRecordings;
			return resultsHistoryClass;
		}
	},
	methods: {
		headerClass: function(tab) {
			return {
				active: tab == this.activeTab
			};
		},
		activateTab: function(tab) {
			this.activeTab = tab;
		},
		activateResultsHistoryTab: function() {
			if (!this.hasRecordings) return;
			this.activateTab("resultsHistory");
		},
		signOut: function() {
			this.$refs.signOutForm.submit();
		},
		getNewTextSamples: function(data) {
			this.sendRequest('{% url "getTextSamples" %}', 'gettingTextSamples', [{
				key: 'textSamples',
				value: this.textSamples
			}], (response) => {
				this.textSamples = response.textSamples;
			}, (response, status) => {
				// TODO: Display new recording error
			});
		},
		getRecordings: function(data) {
			this.sendRequest('{% url "getRecordings" %}', 'gettingRecordings', [{
				key: 'page',
				value: data.page
			}, {
				key: 'recordsPerPage',
				value: data.recordsPerPage
			}], (response) => {
				this.recordedSinceGetRecordings = false;
				this.recordings = response.recordings;
			}, (response, status) => {
				// TODO: Display get recordings error
			});
		},
		newRecording: function(data) {
			// TODO: send actual recording
			this.sendRequest('{% url "newRecording" %}', 'processingNewRecording', [{
				key: 'audio',
				value: data.blob,
				filename: data.filename
			}, {
				key: 'text_sample_id',
				value: data['text_sample_id']
			}], (response) => {
				this.recordedSinceGetRecordings = true;
				this.recording = response.recording;
				this.recordingCount = response.recordingCount;
				this.recordings = [];
			}, (response, status) => {
				// TODO: Display new recording error
				window.open().document.write(response);
			});
		},
		updateUser: function(attr) {
			this.sendRequest('{% url "updateUser" %}', null, [{
				key: 'attr',
				value: attr
			},  {
				key: 'value',
				value: this.user[attr],
			}], (response) => {
				console.log(response);
			}, (response, status) => {
				// TODO: Display update error
			});
		},
		sendRequest: function(url, processFlag, data, onSuccess, onError, onComplete) {
			if (this[processFlag]) {
				// TODO: Display duplicate attempt error
				return;
			}
			let request = new XMLHttpRequest();
			request.open('POST', url);
			request.setRequestHeader('X-CSRFToken', this.csrf_token);
			request.onreadystatechange = () => {
				if (request.readyState == 4) {
					if (request.status == 200) {
						if (onSuccess) onSuccess(JSON.parse(request.responseText));
					}
					else if (onError) onError(request.responseText, request.status);
					if (processFlag) this[processFlag] = false;
				}
			};
			if (processFlag) this[processFlag] = true;
			request.send(this.JSONToFormData(data));
		},
		JSONToFormData: function(items) {
			let formData = new FormData();
			for (let i = 0; i < items.length; i++) {
				let item = items[i];
				let filename = item.filename;
				if (filename) formData.append(item.key, item.value, item.filename);
				else formData.append(item.key, item.value);
			}
			return formData;
		}
	}
});
</script>