{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'SpeechTherapy/style.css' %}"/>

<script src="{% static 'SpeechTherapy/js/vue.js' %}"></script>
<script src="{% static 'SpeechTherapy/js/profileForm.js' %}"></script>
<script src="{% static 'SpeechTherapy/js/adminForm.js' %}"></script>
<script src='{% static "SpeechTherapy/js/newRecording.js" %}'></script>
<script src='{% static "SpeechTherapy/js/recording.js" %}'></script>
<script src='{% static "SpeechTherapy/js/recordings.js" %}'></script>
<script src='{% static "SpeechTherapy/js/XHR.js" %}'></script>
<script src='{% static "SpeechTherapy/js/SpeechTherapyRequester.js" %}'></script>
<script src='{% static "SpeechTherapy/js/UpSigner.js" %}'></script>
<script src='{% static "SpeechTherapy/js/OutSigner.js" %}'></script>
<script src='{% static "SpeechTherapy/js/InSigner.js" %}'></script>
<script src='{% static "SpeechTherapy/js/ProfileUpdater.js" %}'></script>
<script src='{% static "SpeechTherapy/js/SpeechToText.js" %}'></script>
<script src='{% static "SpeechTherapy/js/MicrosoftCognitiveServices.js" %}'></script>
<script src='{% static "SpeechTherapy/js/NewRecordingInterpreter.js" %}'></script>
<script src='{% static "SpeechTherapy/js/RecordingUploader.js" %}'></script>
<script src='{% static "SpeechTherapy/js/NewTextSamplesGetter.js" %}'></script>
<script src='{% static "SpeechTherapy/js/RecordingsGetter.js" %}'></script>
<script src='{% static "SpeechTherapy/js/TextSamplesImporter.js" %}'></script>

<title>Automated Speech Therapy</title>

<div id='speech-therapy-app'>
	<div id='banner'>
		<strong>Automated Speech Therapy</strong>
		<ul v-if='signedIn' id='tab-headers'>
			<li @click='activateTab("newRecording")' :class='headerClass("newRecording")'>New Recording</li>
			<li @click='activateResultsHistoryTab' :class='resultsHistoryClass'>Results History (<span v-html='recordingCount'></span>)</li>
			<li @click='activateTab("profile")' :class='headerClass("profile")'>Profile</li>
		</ul>
	</div>
	<div id='tab-content'>
		<template v-if='signedIn'>
			<new-recording
				v-show='activeTab == "newRecording"'
				@get-new-text-samples='getNewTextSamples'
				@new-recording='handleNewRecording'
				:active='activeTab == "newRecording"'
				:getting-text-samples='gettingTextSamples'
				:processing='processingNewRecording'
				:text-samples='textSamples'></new-recording>
			<recordings
				v-show='activeTab == "resultsHistory"'
				@get-recordings='getRecordings'
				:recordings='recordings'
				:recording-count='recordingCount'
				:getting-recordings='gettingRecordings'
				:shown='activeTab == "resultsHistory"'
				:recorded-since-get-recordings='recordedSinceGetRecordings'></recordings>
			<profile-form
				v-show='activeTab == "profile"'
				@update-attr='updateUser'
				@right-extra-clicked='signOut'
				:user='user'
				:processing='signingOut'
				:right-extra='"Sign Out"'></profile-form>
			<div v-if='user.is_superuser' class='admin-wrapper'>
				<admin-form
					v-show='activeTab == "profile"'
					@import-text-samples='importTextSamples'
					:importing-text-samples='importingTextSamples'></admin-form>
			</div>
		</template>
		<template v-else>
			<profile-form
				v-show='activeTab == "signUp"'
				@submit='signUp'
				@right-extra-clicked='activateTab("signIn")'
				:user='user'
				:processing='signingUp'
				:submit-text='"Sign Up"'
				:action='"/SpeechTherapy/signUp"'
				:show-email='true'
				:right-extra='"Back"'></profile-form>
			<profile-form
				v-show='activeTab == "signIn"'
				@submit='signIn'
				@right-extra-clicked='activateTab("signUp")'
				@left-extra-clicked='forgotPassword'
				:user='user'
				:processing='signingIn'
				:submit-text='"Sign In"'
				:action='"/SpeechTherapy/signIn"'
				:left-extra='"Need help signing in?"'
				:right-extra='"Sign up"'></profile-form>
		</template>
	</div>
</div>

<script>
let vue = new Vue({
	el: '#speech-therapy-app',
	data: JSON.parse('{{ data | escapejs }}'),
	created: function() {
		let csrfToken = '{{ csrfToken }}';
		this.upSigner = new UpSigner(csrfToken, {
			url: '{% url "signUp" %}',
			onSuccess: (response) => {
				this.onSignUpSuccess(response);
			},
			onError: (response, status) => {
				// TODO: Display sign in error
			},
			onComplete: () => {
				this.signingUp = false;
			}
		});
		this.outSigner = new OutSigner(csrfToken, {
			url: '{% url "signOut" %}',
			onSuccess: (response) => {
				this.onSignOutSuccess(response);
			},
			onError: (response, status) => {
				// TODO: Display sign out error
			},
			onComplete: () => {
				this.signingOut = false;
			}
		});
		this.inSigner = new InSigner(csrfToken, {
			url: '{% url "signIn" %}',
			onSuccess: (response) => {
				this.onSignInSuccess(response);
			},
			onError: (response, status) => {
				// TODO: Display sign up error
			},
			onComplete: () => {
				this.signingIn = false;
			}
		});
		this.profileUpdater = new ProfileUpdater(csrfToken, {
			url: '{% url "updateUser" %}',
			onSuccess: (response) => {
				this.onUpdateUserSuccess(response);
			},
			onError: (response, status) => {
				// TODO: Display update error
			},
			onComplete: () => {
				this.updatingUser = false;
			}
		});
		this.newRecordingInterpreter = new NewRecordingInterpreter((data) => {
			this.saveNewRecording(data);
		}, (response, status) => {
			// TODO: Display get token error.
			console.log(status, response);
		}, (response) => {
			this.interpretingRecording = false;
		});
		this.newRecordingUploader = new RecordingUploader(csrfToken, {
			url: '{% url "newRecording" %}',
			onSuccess: (response) => {
				this.onNewRecordingSuccess(response);
			},
			onError: (response, status) => {
				// TODO: Display new recording error
			},
			onComplete: () => {
				this.uploadingNewRecording = false;
			}
		});
		this.newTextSamplesGetter = new NewTextSamplesGetter(csrfToken, {
			url: '{% url "getTextSamples" %}',
			onSuccess: (response) => {
				this.onGetNewTextSampleSuccess(response);
			},
			onError: (response, status) => {
				// TODO: Display new recording error
			},
			onComplete: () => {
				this.gettingTextSamples = false;
			}
		});
		this.recordingsGetter = new RecordingsGetter(csrfToken, {
			url: '{% url "getRecordings" %}',
			onSuccess: (response) => {
				this.onGetRecordingSuccess(response);
			},
			onError: (response, status) => {
				// TODO: Display get recordings error
			},
			onComplete: () => {
				this.gettingRecordings = false;
			}
		});
		this.textSamplesImporter = new TextSamplesImporter(csrfToken, {
			url: '{% url "importTextSamples" %}',
			onSuccess: (response) => {
				// TODO: Display completion of text sample import.
			},
			onError: (response, status) => {
				// TODO: Display import error
			},
			onComplete: () => {
				this.importingTextSamples = false;
			}
		});
	},
	computed: {signedIn: function() { return this.user.id; },
		hasRecordings: function() { return this.recordingCount > 0; },
		processingNewRecording: function() { return this.interpretingRecording || this.uploadingNewRecording; },
		resultsHistoryClass: function() {
			let resultsHistoryClass = this.headerClass("resultsHistory");
			resultsHistoryClass.disabled = !this.hasRecordings;
			return resultsHistoryClass;
		},
		maxTextSampleId: function() {
			let max = 0;
			for (var i = this.textSamples.length - 1; i >= 0; i--) {
				let id = this.textSamples[i].id;
				if (id > max) max = id;
			}
			return max;
		}
	},
	methods: {
		headerClass: function(tab) {
			return {
				active: tab == this.activeTab
			};
		},
		activateTab: function(tab) {
			this.activeTab = tab;
		},
		activateResultsHistoryTab: function() {
			if (!this.hasRecordings) return;
			this.activateTab("resultsHistory");
		},
		signUp: function() {
			this.signingUp = true;
			this.upSigner.submit(this.user);
		},
		signIn: function() {
			this.signingIn = true;
			this.inSigner.submit(this.user.username, this.user.password);
		},
		forgotPassword: function() {
			// TODO: Implement forgot password
		},
		signOut: function() {
			this.signingOut = true;
			this.outSigner.submit();
		},
		getNewTextSamples: function() {
			this.gettingTextSamples = true;
			this.newTextSamplesGetter.submit(this.maxTextSampleId);
		},
		getRecordings: function(data) {
			this.gettingRecordings = true;
			this.recordingsGetter.submit(data.page, data.recordsPerPage);
		},
		updateUser: function(attr) {
			this.updatingUser = true;
			this.profileUpdater.submit(attr, this.user[attr]);
		},
		importTextSamples: function(file) {
			this.importingTextSamples = true;
			this.textSamplesImporter.submit(file);
		},
		handleNewRecording: function(data) {
			this.interpretingRecording = true;
			this.newRecordingInterpreter.submit(data);
		},
		saveNewRecording: function(data) {
			this.uploadingNewRecording = true;
			this.newRecordingUploader.submit(data);
		},
		updateCSRFToken: function(csrfToken) {
			this.upSigner.updateCSRFToken(csrfToken);
			this.outSigner.updateCSRFToken(csrfToken);
			this.inSigner.updateCSRFToken(csrfToken);
			this.profileUpdater.updateCSRFToken(csrfToken);
			this.newRecordingUploader.updateCSRFToken(csrfToken);
			this.newTextSamplesGetter.updateCSRFToken(csrfToken);
			this.recordingsGetter.updateCSRFToken(csrfToken);
			this.textSamplesImporter.updateCSRFToken(csrfToken);
		},
		onSignUpSuccess: function(response) {
			this.user = response.user;
			this.recordings = response.recordings;
			this.recordingCount = response.recordingCount;
			this.textSamples = response.textSamples;
			this.updateCSRFToken(response.csrfToken);
			this.activateTab('newRecording');
		},
		onSignOutSuccess: function(response) {
			this.user = response.user;
			this.recordings = [];
			this.recordingCount = 0;
			this.textSamples = [];
			this.updateCSRFToken(response.csrfToken);
			this.activateTab('signIn');
		},
		onSignInSuccess: function(response) {
			this.user = response.user;
			this.recordings = response.recordings;
			this.recordingCount = response.recordingCount;
			this.textSamples = response.textSamples;
			this.updateCSRFToken(response.csrfToken);
			this.activateTab('newRecording');
		},
		onUpdateUserSuccess: function(response) {
			this.updateCSRFToken(response.csrfToken);
		},
		onNewRecordingSuccess: function(response) {
			this.recordedSinceGetRecordings = true;
			this.recording = response.recording;
			this.recordingCount = response.recordingCount;
			this.recordings = [];
		},
		onGetNewTextSampleSuccess: function(response) {
			this.textSamples = response.textSamples;
		},
		onGetRecordingSuccess: function(response) {
			this.recordedSinceGetRecordings = false;
			this.recordings = response.recordings;
		}
	}
});
</script>