<!DOCTYPE html>
<head>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'SpeechTherapy/style.css' %}"/>
	<link rel="shortcut icon" type="image/jpeg" href="{% static 'favicon.ico' %}">

	<!-- Vue related JavaScript files -->
	<script src="{% static 'SpeechTherapy/js/Vue/vue.js' %}"></script>
	<script src="{% static 'SpeechTherapy/js/Vue/report.js' %}"></script>
	<script src="{% static 'SpeechTherapy/js/Vue/reports.js' %}"></script>
	<script src="{% static 'SpeechTherapy/js/Vue/profileForm.js' %}"></script>
	<script src="{% static 'SpeechTherapy/js/Vue/adminForm.js' %}"></script>
	<script src='{% static "SpeechTherapy/js/Vue/textSearch.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/Vue/newRecording.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/Vue/newRecordingResult.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/Vue/recording.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/Vue/recordings.js" %}'></script>
	<!-- XHR related JavaScript files -->
	<script src='{% static "SpeechTherapy/js/XHR/XHR.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/SpeechTherapyRequester.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/UpSigner.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/OutSigner.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/InSigner.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/SignInHelper.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/ProfileUpdater.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/RecordingUploader.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/NewTextSamplesGetter.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/TextSamplesSearcher.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/RecordingsGetter.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/XHR/TextSamplesImporter.js" %}'></script>
	<!-- Speech-to-text related Javascript files -->
	<script src='{% static "SpeechTherapy/js/SpeechAnalyzer/SpeechAnalyzer.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/SpeechAnalyzer/DemoSpeechAnalyzer.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/SpeechAnalyzer/MicrosoftCognitiveServices.js" %}'></script>
	<script src='{% static "SpeechTherapy/js/SpeechAnalyzer/NewRecordingInterpreter.js" %}'></script>

	<title>Automated Speech Therapy</title>
</head>

<body>
	<div id='speech-therapy-app'>
		<reports :reports='reports'></reports>

		<div id='banner'>
			<strong>Automated Speech Therapy</strong>
			<ul v-if='signedIn' id='tab-headers'>
				<li @click='activateTab("newRecording")' :class='headerClass("newRecording")'>New Recording</li>
				<li @click='activateResultsHistoryTab' :class='resultsHistoryClass'>Results History (<span v-html='recordingCount'></span>)</li>
				<li @click='activateTab("profile")' :class='headerClass("profile")'>Profile</li>
			</ul>
		</div>

		<div id='tab-content'>
			<template v-if='signedIn'>
				<new-recording
					v-show='activeTab == "newRecording"'
					@get-new-text-samples='getNewTextSamples'
					@recording-begun='recordingBegun'
					@new-recording='handleNewRecording'
					@search-text-samples='searchTextSamples'
					@add-text-samples='addTextSamples'
					:active='activeTab == "newRecording"'
					:getting-text-samples='gettingTextSamples'
					:processing='processingNewRecording'
					:text-samples='textSamples'
					:results='newRecordingResults'
					:searched-text-samples='searchedTextSamples'
					:searching-text-samples='searchingTextSamples'></new-recording>
				<recordings
					v-show='activeTab == "resultsHistory"'
					@get-recordings='getRecordings'
					:recordings='recordings'
					:recording-count='recordingCount'
					:shared-data='sharedRecordingsData'
					:page-number-after-get-recordings='pageNumberAfterGetRecordings'></recordings>
				<profile-form
					v-show='activeTab == "profile"'
					@update-attr='updateUser'
					@right-extra-clicked='signOut'
					:user='user'
					:processing='signingOut'
					:show-password='true'
					:show-email='true'
					:right-extra='"Sign Out"'></profile-form>
				<div v-if='user.is_superuser' class='admin-wrapper'>
					<admin-form
						v-show='activeTab == "profile"'
						@import-text-samples='importTextSamples'
						:importing-text-samples='importingTextSamples'></admin-form>
				</div>
			</template>
			<template v-else>
				<profile-form
					v-show='activeTab == "signUp"'
					@submit='signUp'
					@right-extra-clicked='activateTab("signIn")'
					:user='user'
					:processing='signingUp'
					:submit-text='"Sign Up"'
					:show-password='true'
					:show-email='true'
					:right-extra='"Back"'></profile-form>
				<profile-form
					v-show='activeTab == "signIn"'
					@submit='signIn'
					@right-extra-clicked='activateTab("signUp")'
					@left-extra-clicked='getSignInHelp'
					:user='user'
					:processing='signingIn'
					:submit-text='"Sign In"'
					:show-password='true'
					:left-extra='"Need help signing in?"'
					:right-extra='"Sign up"'></profile-form>
				<profile-form
					v-show='activeTab == "signInHelp"'
					@submit='sendSignInHelpEmail'
					@right-extra-clicked='endSignInHelp'
					:user='user'
					:processing='sendingSignInHelpEmail'
					:submit-text='"Submit"'
					:right-extra='"Cancel"'
					:notes='"If the username is found, an email will be sent to the associated email address with a temporary password."'></profile-form>
			</template>
		</div>
	</div>

	<script>
	let vue = new Vue({
		el: '#speech-therapy-app',
		data: JSON.parse('{{ data | escapejs }}'),
		created: function() {
			this.initXHRs();
			this.initNewRecordingInterpreter();
			this.updateCSRFToken('{{ csrfToken }}');
		},
		computed: {
			signedIn: function() { return this.user.id; },
			hasRecordings: function() { return this.recordingCount > 0; },
			processingNewRecording: function() { return this.recordingsInterpreted < this.newRecordingResults.length || this.recordingsScored < this.newRecordingResults.length; },
			resultsHistoryClass: function() {
				let resultsHistoryClass = this.headerClass("resultsHistory");
				resultsHistoryClass.disabled = !this.hasRecordings;
				return resultsHistoryClass;
			},
			keyedTextSamples: function() {
				return this.textSamples.reduce((textSamples, textSample) => {
					textSamples[textSample.id] = textSample;
					return textSamples;
				}, {});
			},
			maxTextSampleId: function() { return Math.max(...this.textSamples.map(textSample => textSample.id)); }
		},
		methods: {
			initXHRs: function() {
				this.speechTherapyRequesters = {};
				this.addSpeechTherapyRequest('upSigner', new UpSigner({
					url: '{% url "signUp" %}',
					onSuccess: (response) => this.onSignUpSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.signingUp = false
				}));
				this.addSpeechTherapyRequest('outSigner', new OutSigner({
					url: '{% url "signOut" %}',
					onSuccess: (response) => this.onSignOutSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.signingOut = false
				}));
				this.addSpeechTherapyRequest('inSigner', new InSigner({
					url: '{% url "signIn" %}',
					onSuccess: (response) => this.onSignInSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.signingIn = false
				}));
				this.addSpeechTherapyRequest('signInHelper', new SignInHelper({
					url: '{% url "sendSignInHelpEmail" %}',
					onSuccess: (response) => this.onSignInHelpSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.sendingSignInHelpEmail = false
				}));
				this.addSpeechTherapyRequest('profileUpdater', new ProfileUpdater({
					url: '{% url "updateUser" %}',
					onSuccess: (response) => this.onUpdateUserSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: (response) => this.onUpdateUserComplete(response)
				}));
				this.addSpeechTherapyRequest('recordingUploader', new RecordingUploader({
					url: '{% url "newRecording" %}',
					onSuccess: (response) => this.onNewRecordingSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.recordingsScored++
				}));
				this.addSpeechTherapyRequest('newTextSamplesGetter', new NewTextSamplesGetter({
					url: '{% url "getTextSamples" %}',
					onSuccess: (response) => this.onGetNewTextSampleSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.gettingTextSamples = false
				}));
				this.addSpeechTherapyRequest('recordingsGetter', new RecordingsGetter({
					url: '{% url "getRecordings" %}',
					onSuccess: (response) => this.onGetRecordingSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.gettingRecordings = false
				}));
				this.addSpeechTherapyRequest('textSamplesImporter', new TextSamplesImporter({
					url: '{% url "importTextSamples" %}',
					onSuccess: (response) => this.onTextSamplesImportSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.importingTextSamples = false
				}));
				this.addSpeechTherapyRequest('textSamplesSearcher', new TextSamplesSearcher({
					url: '{% url "searchTextSamples" %}',
					onSuccess: (response) => this.onTextSamplesSearchSuccess(response),
					onError: (response, status) => this.addError(response),
					onComplete: () => this.searchingTextSamples = false
				}));
			},
			initNewRecordingInterpreter: function() {
				this.newRecordingInterpreter = new NewRecordingInterpreter('{% url "demoSpeechAnalyzer" %}', {
					onSuccess: (newRecordingResultsIndex, data) => this.handleRecordingInterpretation(newRecordingResultsIndex, data),
					onError: (newRecordingResultsIndex, response, status) => this.addError(newRecordingResultsIndex, response),
					onComplete: (newRecordingResultsIndex, response) => this.recordingsInterpreted++
				});
				this.newRecordingResults = this.newRecordingInterpreter.names.map(name => {
					return {
						name: name,
						interpretation: '',
						score: -1
					};
				});
				// Set this.recordingsInterpreted and this.recordingsScored equal to
				// this.newRecordingResults.length so that it doesn't think that results are
				// being processed. Otherwise, the user would never be able to make a recording.
				this.recordingsInterpreted = this.newRecordingResults.length;
				this.recordingsScored = this.newRecordingResults.length;
			},
			headerClass: function(tab) {
				return {
					active: tab == this.activeTab
				};
			},
			activateTab: function(tab) {
				this.activeTab = tab;
			},
			activateResultsHistoryTab: function() {
				if (!this.hasRecordings) return;
				this.activateTab("resultsHistory");
			},
			signUp: function() {
				this.signingUp = true;
				this.speechTherapyRequesters.upSigner.submit(this.user);
			},
			signIn: function() {
				this.signingIn = true;
				this.speechTherapyRequesters.inSigner.submit(this.user.username, this.user.password);
			},
			getSignInHelp: function() {
				this.activeTab = 'signInHelp';
			},
			sendSignInHelpEmail: function() {
				this.sendingSignInHelpEmail = true;
				this.speechTherapyRequesters.signInHelper.submit(this.user.username);
			},
			onSignInHelpSuccess: function(response) {
				this.addSuccess('Email sent.');
				this.endSignInHelp();
			},
			endSignInHelp: function() {
				this.activeTab = 'signIn';
				this.sendingSignInHelpEmail = false;
			},
			signOut: function() {
				this.signingOut = true;
				this.speechTherapyRequesters.outSigner.submit();
			},
			getNewTextSamples: function() {
				this.gettingTextSamples = true;
				this.updateTs('lastGetTextSamplesTs');
				this.speechTherapyRequesters.newTextSamplesGetter.submit(this.maxTextSampleId, this.lastGetTextSamplesTs);
			},
			getRecordings: function(data) {
				this.gettingRecordings = true;
				this.updateTs('lastGetRecordingsTs');
				this.speechTherapyRequesters.recordingsGetter.submit(data.page, this.sharedRecordingsData.recordingsPerPage, data.pageNumberAfterGetRecordings, this.lastGetRecordingsTs);
			},
			updateUser: function(attr) {
				if (this.updatingUser) this.pendingUserUpdates.push(attr);
				else {
					this.updatingUser = true;
					this.speechTherapyRequesters.profileUpdater.submit(attr, this.user[attr]);
				}
			},
			importTextSamples: function(file) {
				this.importingTextSamples = true;
				this.updateTs('lastGetTextSamplesTs');
				this.speechTherapyRequesters.textSamplesImporter.submit(this.lastGetTextSamplesTs, file);
			},
			recordingBegun: function() {
				this.newRecordingResults.forEach(result => {
					result.interpretation = '',
					result.score = -1
				});
			},
			handleNewRecording: function(data) {
				this.recordingsInterpreted = 0;
				this.recordingsScored = 0;
				this.updateTs('newRecordingTs');
				this.newRecordingResults.forEach(result => {
					result.interpretation = '';
					result.score = -1;
				});
				data.ts = this.newRecordingTs;
				this.newRecordingInterpreter.submit(data);
			},
			handleRecordingInterpretation: function(i, data) {
				this.saveNewRecording(i, data);

				if (data.ts < this.newRecordingTs) return;
				this.newRecordingResults[i].interpretation = data.interpretation;
			},
			saveNewRecording: function(i, data) {
				this.updateTs('lastGetRecordingsTs');
				this.speechTherapyRequesters.recordingUploader.submit(i, this.sharedRecordingsData.recordingsPerPage, this.lastGetRecordingsTs, data);
			},
			searchTextSamples: function(text) {
				this.searchingTextSamples = true;
				this.updateTs('lastTextSampleSearchTs');
				this.speechTherapyRequesters.textSamplesSearcher.submit(text, this.lastTextSampleSearchTs);
			},
			addTextSamples: function(textSamples) {
				let newTextSamples = textSamples.filter(textSample => !this.keyedTextSamples[textSamples.id]);
				this.textSamples = newTextSamples.concat(this.textSamples).slice(0, 30);
			},
			addSpeechTherapyRequest: function(key, speechTherapyRequester) {
				this.speechTherapyRequesters[key] = speechTherapyRequester;
			},
			updateCSRFToken: function(csrfToken) {
				for (let key in this.speechTherapyRequesters) {
					this.speechTherapyRequesters[key].updateCSRFToken(csrfToken);
				}
				this.newRecordingInterpreter.updateCSRFToken(csrfToken);
			},
			onSignUpSuccess: function(response) {
				if (response.errors) {
					this.addError(response.errors.join('<br>'));
					return;
				}

				this.user = response.user;
				this.recordings = response.recordings;
				this.recordingCount = response.recordingCount;
				this.textSamples = response.textSamples;
				this.updateCSRFToken(response.csrfToken);
				this.activateTab('newRecording');
			},
			onSignOutSuccess: function(response) {
				this.user = response.user;
				this.recordings = [];
				this.recordingCount = 0;
				this.textSamples = [];
				this.updateCSRFToken(response.csrfToken);
				this.activateTab('signIn');
			},
			onSignInSuccess: function(response) {
				this.user = response.user;
				this.recordings = response.recordings;
				this.recordingCount = response.recordingCount;
				this.textSamples = response.textSamples;
				this.updateCSRFToken(response.csrfToken);
				this.activateTab('newRecording');
			},
			onUpdateUserSuccess: function(response) {
				this.updateCSRFToken(response.csrfToken);
			},
			onUpdateUserComplete: function(response) {
				// Set this.updateUser to false before calling updateUser so that the update request will get sent.
				this.updatingUser = false;
				if (this.pendingUserUpdates.length > 0) this.updateUser(this.pendingUserUpdates.shift());
			},
			onNewRecordingSuccess: function(response) {
				this.newRecordingResults[response.newRecordingResultsIndex].score = response.recording.score;

				// Don't accept recordings from a request that was made before the most recent request.
				if (response.ts < this.lastGetRecordingsTs) return;
				this.recordingCount = response.recordingCount;
				this.recordings = response.recordings;
			},
			onGetNewTextSampleSuccess: function(response) {
				// Don't accept text samples from a request that was made before the most recent request.
				if (response.ts < this.lastGetTextSamplesTs) return;
				this.lastGetTextSamplesTs = response.ts;
				this.textSamples = response.textSamples;
			},
			onTextSamplesSearchSuccess: function(response) {
				// Don't accept text samples from a request that was made before the most recent request.
				if (response.ts < this.lastTextSampleSearchTs) return;
				this.lastTextSampleSearchTs = response.ts;
				this.searchedTextSamples = response.textSamples;
			},
			onGetRecordingSuccess: function(response) {
				// Don't accept recordings from a request that was made before the most recent request.
				if (response.ts < this.lastGetRecordingsTs) return;
				this.lastGetRecordingsTs = response.ts;
				this.recordings = response.recordings;
				this.pageNumberAfterGetRecordings = response.pageNumberAfterGetRecordings;
			},
			onTextSamplesImportSuccess: function(response) {
				this.addSuccess('Text samples imported.');

				// Don't accept recordings from a request that was made before the most recent request.
				if (response.ts < this.lastGetTextSamplesTs) return;
				if (this.textSamples.length < 1) this.textSamples = response.textSamples;
			},
			reportDone: function(error) {
				this.reports.splice(this.reports.indexOf(error), 1);
			},
			addError: function(error) {
				this.addReport(error, 'error');
			},
			addSuccess: function(success) {
				this.addReport(success, 'success');
			},
			addReport: function(value, type) {
				let report = {
					value: value,
					type: type,
					done: false
				};
				this.reports.push(report);
				setTimeout(() => {
					report.done = true;
					if (this.reports.indexOf(report) == this.reports.length - 1) this.reports = [];
				}, 6500);
			},
			updateTs: function(prop) {
				this[prop] = this.unixNow();
			},
			unixNow: function() {
				return Math.floor(Date.now() / 1000);
			}
		}
	});
	</script>
</body>